@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,700,900');
/* Remove padding and margin */ 
*{ 
    margin: 0; 
    padding: 0; 
    border: 0; 
}
p{
	color:#5d5d5d;
	font-size: 1rem;
	font-family: 'Raleway', sans-serif;
}
.title{
	font-size: 4rem;
    color: #FFF;
    letter-spacing: 1rem;
    text-align: center;
    padding: 17rem 0rem 2rem 0rem;
    font-weight: 300;
    text-shadow: 2px 3px 6px rgba(31, 31, 31, 0.78);
}
h1, h2, h3, h4 {
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
}
h1{
	color:#fff;
	font-size: 2rem;
	
	letter-spacing: 0.2rem;
}
h3{
	font-size: 1.5rem;
}
h2,h3,h4{
	color: #084a6d;
	padding-bottom: 1rem;
}
body{
	background-color: #ccc;
}
.banner{
	background-image: url(../images/banner.jpg);
	background-position: 50%;
	width: 100%;
	height: 650px;
}
i.flecha{
	color: #FFF;
    font-size: 3rem;
    margin: auto 48%;
    padding: 2rem 0rem;
}
article{
	width: 28%;
	display: inline-block;
	padding: 2rem 2rem;
	text-align:center;
}
@media (max-width:1024px){
	article{
		width: 100%
	}
}

