h1, h2, h3,h4{
	color:#fff;
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
}
body{
	background-color: #ccc;
}
p{
	color:#5d5d5d;
	font-size: 1rem;
}
.p2{
	font-family: Helvetica, sans-serif;
}
.p3{
	color:green;
}